@charset "utf-8";

:root {
  --color-primary: #708090;
  --color-primary-soft: #a9b3bc;
  --color-primary-fade: #e2e6e9;
  --color-primary-dark: #434d56;
  /* --color-secondary: #00aa00; */
  --color-secondary: yellowgreen;
  --color-secondary-dark: #006600;
  --color-text: #444;
}

html,
body {
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1rem;
  color: var(--color-text);
  background-color: #999;
}

/* nav,
content,
footer {
  position: relative;
  width: 100%;
}

content {
  height: 100%;
  background-color: white;
  overflow: hidden;
} */

nav,
content,
footer {
  position: fixed;
  width: 100%;
}

nav {
  top: 0;
  height: 30px;
}

content {
  top: 30px;
  bottom: 30px;
}

@media screen and (max-width: 768px) {

  nav,
  content,
  footer {
    position: relative;
    width: 100%;
  }

}

/*-------------------------------------
  MODAL
-------------------------------------*/
.ats-modal div.content {
  margin: 5% auto;
  max-width: 90%;
}

/*-------------------------------------
  DATAFORM
-------------------------------------*/
.ats-dataform {
  padding: 0;
}

.ats-dataform .form-control {
  padding: 3px 5px;
}

.ats-dataform .switch {
  width: 40px;
  height: 24px;
}

.ats-dataform .switch span.slider {
  border-radius: 24px;
}

.ats-dataform .switch span.slider:before {
  height: 16px;
  width: 16px;
}

.ats-dataform .switch input:checked+.slider::before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/*-------------------------------------
  DATAGRID
-------------------------------------*/
.ats-datagrid {
  padding: 10px;
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;

  background-color: white;
}



.ats-datagrid .row:nth-child(even) {
  background-color: var(--color-secondary);
}

.ats-datagrid .row.selected {
  background-color: var(--color-secondary-dark)
}

/*-------------------------------------
  DATATREE
-------------------------------------*/
.ats-datatree .item.selected {
  background-color: green;
}

.ats-datatree .item:hover {
  background-color: greenyellow;
}

/* ------------------------------------
  TABGROUP
------------------------------------ */
.ats-tabgroup .buttons {
  border-color: var(--color-primary-soft);
  background-color: var(--color-primary-fade);
}

.ats-tabgroup .buttons button {
  border-right: 1px solid var(--color-primary-soft);
}

.ats-tabgroup .buttons button:hover {
  background-color: var(--color-primary-soft);
}

.ats-tabgroup .buttons button.active {
  color: white;
  background-color: var(--color-primary);
}

.ats-tabgroup .buttons button .badge {
  background: var(--color-primary-soft);
}

.ats-tabgroup .buttons button.active .badge {
  color: black;
}

.ats-tabgroup-close {
  color: white;
}

.ats-tabgroup-close:hover {
  color: var(--color-secondary);
}

.ats-tabgroup .contents .content {
  background-color: aqua;
}