/*
 Estilos generales
 */
#printable {
  display: none;
}

.sheet {
  margin: 0;
  position: relative;
  box-sizing: border-box;
}

/** Padding area **/

.sheet.padding-10mm { padding: 10mm }
.sheet.padding-15mm { padding: 15mm }
.sheet.padding-20mm { padding: 20mm }
.sheet.padding-25mm { padding: 25mm }

@media print {
  body {
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9pt;
  }
  header, nav, content, footer {
    visibility:hidden;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  body > * {
    display: none;
  }
  #printable {
    display: block;
  }
	#printable.A3.landscape { width: 420mm }
  #printable.A3, #printable.A4.landscape { width: 297mm }
  #printable.A4, #printable.A5.landscape { width: 210mm }
  #printable.A5                    { width: 148mm }
  #printable.letter, #printable.legal    { width: 216mm }
  #printable.letter.landscape      { width: 280mm }
  #printable.legal.landscape       { width: 357mm }

	.sheet {
		color: gray;
	}
}