.ats-modal {
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgb(150, 146, 146);
  background-color: rgba(150, 146, 146, 0.8);

}

.ats-modal div.content {
  position: relative;

  overflow: hidden;
  padding: 0;
  border: 1px solid #888;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }

  to {
    top: 0;
    opacity: 1
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }

  to {
    top: 0;
    opacity: 1
  }
}

.ats-modal div.content div.header {
  overflow: hidden;
  line-height: 20px;
  vertical-align: middle;
}

.ats-modal div.content div.header i.close {
  float: right;
  margin-right: 5px;
  padding: 0 8px;
  font-size: 150%;
  font-weight: 700;
  cursor: pointer;
}

.ats-modal div.content div.body {
  overflow: hidden;
}