.alert {
  margin: 5px;
  padding: 16px;
}

.alert.notice {
  background-color: #2196F3;
  color: white;
}

.alert.warning {
  background-color: #ff9800;
  color: white;
}

.alert.error {
  background-color: #f44336;
  color: white;
}